<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>BlackHairedRoderick.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>570</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>BlondeHairedRoderick.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>BrownHairedRoderick.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>760</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>EnemyAxeman.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>EnemyChampion.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>380</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>EnemySwordman.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>190</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>RedHairedRoderickRevised.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
	</dict>
</dict>
</plist>