<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>demon_fire_mage.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>615</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>demon_poison_archer.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>225</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>129</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>demon_poison_mage.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>379</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>demon_poison_rider.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>121</integer>
			<key>originalHeight</key>
			<integer>151</integer>
		</dict>
		<key>demon_rider.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>179</integer>
			<key>height</key>
			<integer>225</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>179</integer>
			<key>originalHeight</key>
			<integer>225</integer>
		</dict>
		<key>demon_shadow_mage.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>497</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>demon_shadow_rider copy.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>750</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>121</integer>
			<key>originalHeight</key>
			<integer>151</integer>
		</dict>
		<key>demon_shadow_warrior.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>101</integer>
			<key>originalHeight</key>
			<integer>154</integer>
		</dict>
		<key>demon.png</key>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>750</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>firegiant_beserker_sword.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>firegiant_beserker.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>899</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>firegiant_shaman.png</key>
		<dict>
			<key>x</key>
			<integer>372</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>firegiant.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>789</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>frost_demon_archer.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>400</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>129</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>frost_demon_rider copy.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>121</integer>
			<key>originalHeight</key>
			<integer>151</integer>
		</dict>
		<key>frost_demon_warrior.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>101</integer>
			<key>originalHeight</key>
			<integer>154</integer>
		</dict>
		<key>frost_demon.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>frost_wolf_cub_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>frost_wolf_pack-leader_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>704</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>frost_wolf_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>624</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>giant_beserker_sword.png</key>
		<dict>
			<key>x</key>
			<integer>909</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>giant_beserker.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>679</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>giant_shaman.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>569</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>giant.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>459</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hellhound_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>464</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>icegiant_beserker_sword.png</key>
		<dict>
			<key>x</key>
			<integer>817</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>icegiant_beserker.png</key>
		<dict>
			<key>x</key>
			<integer>725</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>icegiant_shaman.png</key>
		<dict>
			<key>x</key>
			<integer>633</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>icegiant.png</key>
		<dict>
			<key>x</key>
			<integer>541</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>Orc120x120.png</key>
		<dict>
			<key>x</key>
			<integer>421</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>shadow_demon_archer.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>575</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>129</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>Slime120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>901</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>spirit_earth_70x97.png</key>
		<dict>
			<key>x</key>
			<integer>369</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>spirit_fire_70x97.png</key>
		<dict>
			<key>x</key>
			<integer>439</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>spirit_ice_70x97.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>733</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>spirit_lightening_70x97.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>830</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>spirit_shadow_70x97.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>927</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>wolf_cub_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>864</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>wolf_pack-leader_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>784</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>wolf_spritesheet.png</key>
		<dict>
			<key>x</key>
			<integer>944</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
	</dict>
</dict>
</plist>