<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>BeachBackground480x320.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Bone40x40.png</key>
		<dict>
			<key>x</key>
			<integer>770</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Dwarf50x80.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Frog40x40.png</key>
		<dict>
			<key>x</key>
			<integer>650</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Imp120x120.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Orc120x120.png</key>
		<dict>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Pond40x40.png</key>
		<dict>
			<key>x</key>
			<integer>560</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Priest50x80.png</key>
		<dict>
			<key>x</key>
			<integer>650</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Ranger50x80.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>RoderickFacingForward50x80.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Rune340x40.png</key>
		<dict>
			<key>x</key>
			<integer>664</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune1840x40.png</key>
		<dict>
			<key>x</key>
			<integer>520</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>SelectorImage40x40.png</key>
		<dict>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Slash180x5.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>260</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slash280x5.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>250</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slash380x5.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slime120x120.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Spear80x5.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Target40x40.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>TimerRect80x5.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>245</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Valkyrie50x80.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Waterball15x15.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>15</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>15</integer>
		</dict>
		<key>Wizard50x80.png</key>
		<dict>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>WizardBall15x15.png</key>
		<dict>
			<key>x</key>
			<integer>495</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>15</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>15</integer>
		</dict>
		<key>defaultTexture.png</key>
		<dict>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>