<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>AnsuzRuneStone.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>Antidote30x30.png</key>
		<dict>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>670</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Bandage30x30.png</key>
		<dict>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>BattleMeterHorizontal.png</key>
		<dict>
			<key>x</key>
			<integer>266</integer>
			<key>y</key>
			<integer>863</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>7</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>7</integer>
		</dict>
		<key>BattleMeterVertical.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>7</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>7</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>BeachBackground480x320.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Bone40x40.png</key>
		<dict>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>CatapultArm.png</key>
		<dict>
			<key>x</key>
			<integer>140</integer>
			<key>y</key>
			<integer>880</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>CatapultArmUp.png</key>
		<dict>
			<key>x</key>
			<integer>234</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>CatapultFrame.png</key>
		<dict>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>ChestClosed.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>960</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>ChestOpen.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>943</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>defaultTexture.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>DownArrow.png</key>
		<dict>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>Dwarf50x80.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>EihwazRuneStone.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>EquipmentIcon28x28.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>891</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>EquipmentIconSelected28x28.png</key>
		<dict>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>863</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>EquipmentMenuBackground.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Frog40x40.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>863</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>HealingLeaf30x30.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>983</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Imp120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>880</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>LeftArrow.png</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>MainMenu480x320.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>320</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>MeterPixels.png</key>
		<dict>
			<key>x</key>
			<integer>1017</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>3</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1</integer>
			<key>originalHeight</key>
			<integer>3</integer>
		</dict>
		<key>Orc120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Pond40x40.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>903</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Priest50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Ranger50x80.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>720</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>RightArrow.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>RoderickFacingForward50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Rune120.png</key>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune195.png</key>
		<dict>
			<key>x</key>
			<integer>402</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune209.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune253.png</key>
		<dict>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>757</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune340x40.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>920</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune201.png</key>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>757</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>RuneIcon28x28.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>919</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>RuneIconSelected28x28.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>947</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>Scythe.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>880</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>SelectorImage40x40.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>840</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>SkillsIcon28x28.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>863</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>SkillsIconSelected28x28.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>975</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>Slash180x5.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>863</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slash280x5.png</key>
		<dict>
			<key>x</key>
			<integer>266</integer>
			<key>y</key>
			<integer>870</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slash380x5.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>870</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slime120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>760</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Spear80x5.png</key>
		<dict>
			<key>x</key>
			<integer>266</integer>
			<key>y</key>
			<integer>875</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Target40x40.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>800</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>TimerRect80x5.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>875</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>TongueAttack.png</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>UpArrow.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>Valkyrie50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Wizard50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>WizardBall15x15.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>1000</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>15</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>15</integer>
		</dict>
		<key>BattleAxeMan.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>757</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>BattleSwordMan.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>EnemyChampion.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>810</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
	</dict>
</dict>
</plist>
