<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>AnsuzRuneStone.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>819</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>Antidote30x30.png</key>
		<dict>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>997</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Bandage30x30.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>1001</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>BattleMeterHorizontal.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>7</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>7</integer>
		</dict>
		<key>BattleMeterVertical.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>7</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>7</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>BeachBackground480x320.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Bone40x40.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>977</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>CatapultArm.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>834</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>CatapultArmUp.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>CatapultFrame.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>ChestClosed.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>893</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>ChestOpen.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>defaultTexture.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>934</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>DownArrow.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>Dwarf50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>EihwazRuneStone.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>EquipmentIcon28x28.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>997</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>EquipmentIconSelected28x28.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>949</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>EquipmentMenuBackground.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>320</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Frog40x40.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>998</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>HealingLeaf30x30.png</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>998</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Imp120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>750</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>LeftArrow.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>MainMenu480x320.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>MeterPixels.png</key>
		<dict>
			<key>x</key>
			<integer>1017</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>3</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1</integer>
			<key>originalHeight</key>
			<integer>3</integer>
		</dict>
		<key>Orc120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Pond40x40.png</key>
		<dict>
			<key>x</key>
			<integer>341</integer>
			<key>y</key>
			<integer>748</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Priest50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Ranger50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>RightArrow.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>RoderickFacingForward50x80.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Rune120.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>748</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune195.png</key>
		<dict>
			<key>x</key>
			<integer>426</integer>
			<key>y</key>
			<integer>696</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune209.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>789</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune253.png</key>
		<dict>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>696</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune340x40.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>748</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Rune1840x40.png</key>
		<dict>
			<key>x</key>
			<integer>398</integer>
			<key>y</key>
			<integer>696</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>RuneIcon28x28.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>827</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>RuneIconSelected28x28.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>865</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>Scythe.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>750</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>SelectorImage40x40.png</key>
		<dict>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>SkillsIcon28x28.png</key>
		<dict>
			<key>x</key>
			<integer>398</integer>
			<key>y</key>
			<integer>736</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>9</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>SkillsIconSelected28x28.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>921</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>Slash180x5.png</key>
		<dict>
			<key>x</key>
			<integer>960</integer>
			<key>y</key>
			<integer>315</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>-23.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slash280x5.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>690</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slash380x5.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Slime120x120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>855</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>Spear80x5.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>806</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>Target40x40.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>748</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>TimerRect80x5.png</key>
		<dict>
			<key>x</key>
			<integer>367</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>5</integer>
		</dict>
		<key>TongueAttack.png</key>
		<dict>
			<key>x</key>
			<integer>426</integer>
			<key>y</key>
			<integer>735</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>UpArrow.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>Valkyrie50x80.png</key>
		<dict>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>855</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>Wizard50x80.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>934</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>WizardBall15x15.png</key>
		<dict>
			<key>x</key>
			<integer>1010</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>15</integer>
		</dict>
		<key>BattleAxeMan.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>BattleSwordMan.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>748</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>EnemyChampion.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>696</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
	</dict>
</dict>
</plist>